.user-card {
    background: white;
    padding: 2rem;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    img {
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .info-text {
            font-size: 1.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .info-text:hover .tooltip {
            opacity: 1;
        }
    }
}
.tooltip {
    position: absolute;
    font-size: 1.2rem;
    background: black;
    color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -35px;
    z-index: 3;
    border-radius: 4px;
    opacity: 1;
    padding-left: 1em;
    padding-right: 1em;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.info-contain {
    position: relative;
    .name {
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .name:hover .tooltip {
        opacity: 1;
    }
}
