@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root {
    --primary: #f4e041;
    --secondary: #00bdd3;
}

body {
    background: #f8f8f8;
    font-family: "Nunito", sans-serif;
}
.App {
    max-width: 1170px;
    margin: 0 auto;
}
.title {
    font-size: 4rem;
    text-align: center;
}
.inactive {
    display: none;
}

// Components
@import "./components/_navbar";
@import "./components/hero";
@import "./components//getsection";
@import "./components/user";
@import "./components/postsection";
@import "./components/uploadform";
@import "./components/spinner"; //UI
@import "./components/button";

//Screens
